<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" routerLink="">Sample App</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="summary">Daily Summary Report</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
